snippet header
	[[!meta title="${1}"]]
	[[!tag sysadmin]]
	[[!toc levels=2]]
snippet tip
	[[!tip """
	${1}
	"""]]]
snippet info
	[[!info """
	${1}
	"""]]]
snippet warning
	[[!warning """
	${1}
	"""]]]
snippet alerte
	[[!alerte """
	${1}
	"""]]]
snippet format
	[[!format ${1:language} """
	${2}
	"""]]]
