snippet #!
	#!/usr/bin/env bash
snippet if
	if [[ $1 ]]; then
		${0}
	fi
snippet elif
	elif [[ $1 ]]; then
		${0}
snippet while
	while [[ $1 ]]; do
		${0}
	done
snippet until
	until [[ $1 ]]; do
		${0}
	done
